/* STORY: HERO */
.hero[data-v-5fbf0e80] {
  background: #070707;
  background: var(--color-story);
  position: relative;
  text-align: center;
}
@media (max-width: 600px) {
  .hero[data-v-5fbf0e80] {
    padding: 40vw 0 106.6666666667vw;
  }
}
@media (min-width: 601px) {
  .hero[data-v-5fbf0e80] {
    padding: 19.7916666667vw 0 69.4444444444vw;
  }
}
.container[data-v-5fbf0e80] {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 8vw;
  position: relative;
  z-index: 3;
}
@media (min-width: 601px) {
  .container[data-v-5fbf0e80] {
    margin: 0 8.3333333333vw;
  }
}
.title[data-v-5fbf0e80] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
}
@media (max-width: 600px) {
  .title[data-v-5fbf0e80] {
    font-size: 20vw;
    letter-spacing: -0.4vw;
    line-height: 17.3333333333vw;
    margin: 10.6666666667vw 0;
  }
}
@media (min-width: 601px) {
  .title[data-v-5fbf0e80] {
    font-size: 17.4305555556vw;
    letter-spacing: -0.7986111111vw;
    line-height: 15.4861111111vw;
    margin: 5.2083333333vw 0;
  }
}
@media (max-width: 600px) {
  .title-mask[data-v-5fbf0e80] {
    height: 17.8666666667vw;
    line-height: 14.4vw;
  }
}
@media (min-width: 601px) {
  .title-mask[data-v-5fbf0e80] {
    height: 15.8333333333vw;
    line-height: 12.5vw;
  }
}
@media (max-width: 600px) {
  .title-mask[data-v-5fbf0e80]:last-child {
    transform: translateX(0.2666666667vw);
  }
}
@media (min-width: 601px) {
  .title-mask[data-v-5fbf0e80]:last-child {
    transform: translateX(0.2083333333vw);
  }
}
.title-line[data-v-5fbf0e80] {
  padding: 0 1.3888888889vw;
  visibility: hidden;
}
.intro[data-v-5fbf0e80] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 6.4vw;
  font-size: var(--font-s-h3);
  letter-spacing: -0.1333333333vw;
  letter-spacing: var(--font-ls-h3);
  line-height: 8vw;
  line-height: var(--font-lh-h3);
}
@media (min-width: 601px) {
  .intro[data-v-5fbf0e80] {
    width: 44.0972222222vw;
  }
}
.background[data-v-5fbf0e80] {
  bottom: 0;
  position: absolute;
}
@media (max-width: 600px) {
  .background[data-v-5fbf0e80] {
    height: 100vw;
    overflow: hidden;
    width: 100vw;
  }
}
@media (min-width: 601px) {
  .background[data-v-5fbf0e80] {
    height: 83.3333333333vw;
    left: 50%;
    transform: translateX(-50%);
    width: 83.3333333333vw;
  }
}
.canvas[data-v-5fbf0e80] {
  position: absolute;
}
@media (max-width: 600px) {
  .canvas[data-v-5fbf0e80] {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 601px) {
  .canvas[data-v-5fbf0e80] {
    left: 0;
    top: 6.9444444444vw;
  }
}

/* STORY: ORIGIN */
.origin[data-v-1ea18926] {
  background: #070707;
  background: var(--color-story);
}
@media (max-width: 600px) {
  .origin[data-v-1ea18926] {
    padding: 0 0 106.6666666667vw;
  }
}
@media (min-width: 601px) {
  .origin[data-v-1ea18926] {
    padding: 0 0 69.4444444444vw;
  }
}
.container[data-v-1ea18926] {
  margin: 0 8vw;
  position: relative;
  z-index: 3;
}
@media (min-width: 601px) {
  .container[data-v-1ea18926] {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 8.3333333333vw;
  }
}
@media (min-width: 601px) and (min-width: 601px) {
  .container[data-v-1ea18926] {
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
  }
}
.label[data-v-1ea18926] {
  grid-column: 1;
}
@media (max-width: 600px) {
  .label[data-v-1ea18926] {
    margin-bottom: 9.3333333333vw;
  }
}
@media (min-width: 601px) {
  .block[data-v-1ea18926]:nth-child(2) {
    grid-column: 3/8;
  }
}
@media (max-width: 600px) {
  .block[data-v-1ea18926]:nth-child(2) {
    margin-bottom: 21.3333333333vw;
  }
}
.block:nth-child(2) .title[data-v-1ea18926] {
  text-indent: -1.3333333333vw;
}
@media (min-width: 601px) {
  .block:nth-child(2) .title[data-v-1ea18926] {
    text-indent: -1.1805555556vw;
  }
  .block[data-v-1ea18926]:nth-child(3) {
    grid-column: 7/13;
    margin-top: 5.5555555556vw;
  }
}
.title[data-v-1ea18926] {
  display: flex;
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  position: relative;
}
@media (max-width: 600px) {
  .title[data-v-1ea18926] {
    font-size: 20vw;
    letter-spacing: -0.4vw;
    line-height: 17.3333333333vw;
    margin-bottom: 5.3333333333vw;
  }
}
@media (min-width: 601px) {
  .title[data-v-1ea18926] {
    font-size: 17.4305555556vw;
    height: 15.625vw;
    letter-spacing: -0.7986111111vw;
    line-height: 15.4861111111vw;
    margin-bottom: 5.5555555556vw;
  }
}
.title small[data-v-1ea18926] {
  align-self: flex-end;
  color: hsla(28, 37%, 81%, 0.6);
  color: var(--color-sand-06);
}
@media (max-width: 600px) {
  .title small[data-v-1ea18926] {
    font-size: 3.7333333333vw;
    letter-spacing: 0.0266666667vw;
    line-height: 9.3333333333vw;
  }
}
@media (min-width: 601px) {
  .title small[data-v-1ea18926] {
    font-size: 0.8333333333vw;
    letter-spacing: 0.0138888889vw;
    line-height: 0.8333333333vw;
    margin-bottom: 3.125vw;
    text-indent: 0;
  }
}
@media (max-width: 600px) {
  .title-mask[data-v-1ea18926] {
    height: 17.8666666667vw;
    line-height: 14.4vw;
  }
}
@media (min-width: 601px) {
  .title-mask[data-v-1ea18926] {
    height: 15.8333333333vw;
    line-height: 12.5vw;
  }
}
@media (max-width: 600px) {
  .title-line[data-v-1ea18926] {
    padding-right: 4vw;
  }
}
@media (min-width: 601px) {
  .title-line[data-v-1ea18926] {
    padding-right: 1.0416666667vw;
  }
}
.body[data-v-1ea18926] {
  color: hsla(28, 37%, 81%, 0.8);
  color: var(--color-sand-08);
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 3.7333333333vw;
  font-size: var(--font-s-p);
  letter-spacing: 0.0266666667vw;
  letter-spacing: var(--font-ls-p);
  line-height: 5.6vw;
  line-height: var(--font-lh-p);
}
@media (max-width: 600px) {
  .body[data-v-1ea18926] {
    width: 75.2vw;
  }
}
@media (min-width: 601px) {
  .body[data-v-1ea18926] {
    width: 19.2361111111vw;
  }
}
.background[data-v-1ea18926] {
  position: absolute;
}
@media (max-width: 600px) {
  .background[data-v-1ea18926] {
    bottom: 0;
    height: 100vw;
    overflow: hidden;
    width: 100vw;
  }
}
@media (min-width: 601px) {
  .background[data-v-1ea18926] {
    bottom: 3.4722222222vw;
    height: 100vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}
.canvas[data-v-1ea18926] {
  position: absolute;
}
@media (max-width: 600px) {
  .canvas[data-v-1ea18926] {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 601px) {
  .canvas[data-v-1ea18926] {
    left: 0;
    top: 6.9444444444vw;
  }
}
.animate[data-v-1ea18926] {
  visibility: hidden;
}

/* STORY: JOURNEY */
.journey[data-v-2c0cd5cc] {
  position: relative;
}
@media (min-width: 601px) {
  .journey[data-v-2c0cd5cc] {
    padding: 0 0 69.4444444444vw;
  }
}
.container[data-v-2c0cd5cc] {
  margin: 0 8vw;
  position: relative;
  z-index: 3;
}
@media (min-width: 601px) {
  .container[data-v-2c0cd5cc] {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 8.3333333333vw;
  }
}
@media (min-width: 601px) and (min-width: 601px) {
  .container[data-v-2c0cd5cc] {
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
  }
}
.label[data-v-2c0cd5cc] {
  grid-column: 1;
}
@media (max-width: 600px) {
  .label[data-v-2c0cd5cc] {
    margin-bottom: 10.6666666667vw;
  }
}
.intro[data-v-2c0cd5cc] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 6.4vw;
  font-size: var(--font-s-h3);
  letter-spacing: -0.1333333333vw;
  letter-spacing: var(--font-ls-h3);
  line-height: 8vw;
  line-height: var(--font-lh-h3);
}
@media (min-width: 601px) {
  .intro[data-v-2c0cd5cc] {
    grid-column: 4/10;
  }
}
.background[data-v-2c0cd5cc] {
  height: 100vw;
  position: relative;
  width: 100vw;
}
@media (min-width: 601px) {
  .background[data-v-2c0cd5cc] {
    bottom: -8.3333333333vw;
    grid-column: 1/13;
    height: 83.3333333333vw;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 83.3333333333vw;
  }
}
.canvas[data-v-2c0cd5cc] {
  bottom: 0;
  left: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    #000 40%,
    transparent 50%
  );
  mask-image: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    #000 40%,
    transparent 50%
  );
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  .canvas[data-v-2c0cd5cc] {
    height: 146.6666666667vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 146.6666666667vw;
  }
}

/* STORY: EXPLORATION */
.container[data-v-3eff6004] {
  margin: 0 8vw;
  position: relative;
  z-index: 3;
}
@media (min-width: 601px) {
  .container[data-v-3eff6004] {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 8.3333333333vw;
    padding: 0 0 24.3055555556vw;
  }
}
@media (min-width: 601px) and (min-width: 601px) {
  .container[data-v-3eff6004] {
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
  }
}
.title[data-v-3eff6004] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  position: relative;
  z-index: 2;
}
@media (max-width: 600px) {
  .title[data-v-3eff6004] {
    font-size: 20vw;
    letter-spacing: -0.4vw;
    line-height: 17.3333333333vw;
  }
}
@media (min-width: 601px) {
  .title[data-v-3eff6004] {
    font-size: 17.4305555556vw;
    grid-column: 2/12;
    letter-spacing: -0.7986111111vw;
    line-height: 15.4861111111vw;
    margin-bottom: 8.8194444444vw;
    transform: translateX(-1.0416666667vw);
  }
}
@media (max-width: 600px) {
  .title-mask[data-v-3eff6004] {
    height: 17.8666666667vw;
    line-height: 14.4vw;
  }
}
@media (min-width: 601px) {
  .title-mask[data-v-3eff6004] {
    height: 15.8333333333vw;
    line-height: 12.5vw;
  }
}
.icon[data-v-3eff6004] {
  height: 5.0666666667vw;
  position: absolute;
  right: 12vw;
  top: -1.3333333333vw;
  visibility: hidden;
  width: 5.0666666667vw;
}
@media (min-width: 601px) {
  .icon[data-v-3eff6004] {
    height: 3.6805555556vw;
    right: 10.7638888889vw;
    top: 3.125vw;
    width: 3.6805555556vw;
  }
}
@media (max-width: 600px) {
  .label[data-v-3eff6004] {
    margin: 24vw 0 10.6666666667vw;
  }
}
@media (min-width: 601px) {
  .label[data-v-3eff6004] {
    grid-column: 1/3;
  }
}
.intro[data-v-3eff6004] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 6.4vw;
  font-size: var(--font-s-h3);
  letter-spacing: -0.1333333333vw;
  letter-spacing: var(--font-ls-h3);
  line-height: 8vw;
  line-height: var(--font-lh-h3);
}
@media (min-width: 601px) {
  .intro[data-v-3eff6004] {
    grid-column: 4/10;
  }
}
@media (max-width: 600px) {
  .intro[data-v-3eff6004]:last-child {
    padding-top: 100vw;
  }
}
@media (min-width: 601px) {
  .intro[data-v-3eff6004]:last-child {
    grid-column: 8/13;
    margin-top: 41.6666666667vw;
  }
}
.background[data-v-3eff6004] {
  position: absolute;
}
@media (max-width: 600px) {
  .background[data-v-3eff6004] {
    height: 100vw;
    top: 141.3333333333vw;
    width: 100vw;
  }
}
@media (min-width: 601px) {
  .background[data-v-3eff6004] {
    height: 100vw;
    left: 50%;
    top: 55.5555555556vw;
    transform: translateX(-50%);
    width: 100vw;
  }
}
.canvas[data-v-3eff6004] {
  position: absolute;
}
@media (max-width: 600px) {
  .canvas[data-v-3eff6004] {
    left: 50%;
    margin-left: -2.1333333333vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 601px) {
  .canvas[data-v-3eff6004] {
    top: -20.8333333333vw;
  }
}

/* STORY: PURPOSE */
.purpose[data-v-5d6102c6] {
  background: #070707;
  background: var(--color-story);
}
@media (max-width: 600px) {
  .purpose[data-v-5d6102c6] {
    padding: 22.9333333333vw 0 58.6666666667vw;
  }
}
@media (min-width: 601px) {
  .purpose[data-v-5d6102c6] {
    padding-bottom: 41.6666666667vw;
  }
}
.container[data-v-5d6102c6] {
  margin: 0 8vw;
  position: relative;
  z-index: 3;
}
@media (min-width: 601px) {
  .container[data-v-5d6102c6] {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 8.3333333333vw;
  }
}
@media (min-width: 601px) and (min-width: 601px) {
  .container[data-v-5d6102c6] {
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 601px) {
  .label[data-v-5d6102c6] {
    grid-column: 2/3;
  }
}
.title[data-v-5d6102c6] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
}
@media (max-width: 600px) {
  .title[data-v-5d6102c6] {
    font-size: 20vw;
    letter-spacing: -0.4vw;
    line-height: 17.3333333333vw;
    margin: 10.6666666667vw 0;
  }
}
@media (min-width: 601px) {
  .title[data-v-5d6102c6] {
    font-size: 17.4305555556vw;
    grid-column: 2/13;
    letter-spacing: -0.7986111111vw;
    line-height: 15.4861111111vw;
    margin: 7.0833333333vw 0 4.8611111111vw;
    transform: translateX(-1.0416666667vw);
  }
}
@media (max-width: 600px) {
  .title-mask[data-v-5d6102c6] {
    height: 17.8666666667vw;
    line-height: 14.4vw;
  }
}
@media (min-width: 601px) {
  .title-mask[data-v-5d6102c6] {
    height: 15.8333333333vw;
    line-height: 12.5vw;
  }
}
.intro[data-v-5d6102c6] {
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 6.4vw;
  font-size: var(--font-s-h3);
  grid-column: 2/7;
  letter-spacing: -0.1333333333vw;
  letter-spacing: var(--font-ls-h3);
  line-height: 8vw;
  line-height: var(--font-lh-h3);
}
@media (max-width: 600px) {
  .link[data-v-5d6102c6] {
    margin-top: 10.6666666667vw;
  }
}
@media (min-width: 601px) {
  .link[data-v-5d6102c6] {
    align-self: flex-end;
    grid-column: 11/13;
  }
}
.background[data-v-5d6102c6] {
  position: absolute;
}
@media (max-width: 600px) {
  .background[data-v-5d6102c6] {
    bottom: 0;
    height: 26.6666666667vw;
    width: 100vw;
  }
}
@media (min-width: 601px) {
  .background[data-v-5d6102c6] {
    bottom: 0;
    height: 47.9166666667vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}
.canvas[data-v-5d6102c6] {
  left: 0;
  position: absolute;
}
@media (max-width: 600px) {
  .canvas[data-v-5d6102c6] {
    bottom: 0;
  }
}
@media (min-width: 601px) {
  .canvas[data-v-5d6102c6] {
    top: 0;
  }
}

/* SHARED COMPONENT: LINK */
.link[data-v-5152decb] {
  display: inline-flex;
  font-family: "Lausanne-300";
  font-family: var(--font-f-lausanne-300);
  font-size: 4.2666666667vw;
  font-size: var(--font-s-cta);
  justify-self: flex-start;
  letter-spacing: 0;
  letter-spacing: var(--font-ls-cta);
  line-height: 4.2666666667vw;
  line-height: var(--font-lh-cta);
  position: relative;
}
.link.is-dark[data-v-5152decb] {
  color: #0d0e13;
  color: var(--color-dark-grey);
}
.label[data-v-5152decb] {
  padding-bottom: 0.1388888889vw;
}
@media (min-width: 601px) {
  .label[data-v-5152decb] {
    will-change: transform;
  }
}
.border[data-v-5152decb] {
  background: currentColor;
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: right;
}
@media (min-width: 601px) {
  .border[data-v-5152decb] {
    will-change: transform;
  }
}
.is-dark .border[data-v-5152decb] {
  background: rgba(13, 14, 19, 0.4);
  background: var(--color-dark-grey-04);
}
@media (min-width: 601px) {
  .circle[data-v-5152decb] {
    align-items: center;
    border-radius: 100%;
    display: flex;
    height: 2.7083333333vw;
    justify-content: center;
    left: -2.2222222222vw;
    overflow: hidden;
    position: absolute;
    top: -0.6944444444vw;
    width: 2.7083333333vw;
  }
}
.circle-outline[data-v-5152decb] {
  height: 1.8666666667vw;
  overflow: visible;
  position: absolute;
  width: 1.8666666667vw;
  fill: none;
}
@media (max-width: 600px) {
  .circle-outline[data-v-5152decb] {
    left: -3.7333333333vw;
    top: 0.8vw;
  }
}
@media (min-width: 601px) {
  .circle-outline[data-v-5152decb] {
    height: 0.4166666667vw;
    width: 0.4166666667vw;
  }
}
.circle-outline circle[data-v-5152decb] {
  stroke: currentColor;
  stroke-width: 1;
}
.is-dark .circle-outline circle[data-v-5152decb] {
  stroke: #0d0e13;
  stroke: var(--color-dark-grey);
}
.circle-fill[data-v-5152decb] {
  background: currentColor;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  will-change: transform;
  z-index: 1;
}
@media (max-width: 600px) {
  .circle-fill[data-v-5152decb] {
    display: none;
  }
}
.is-dark .circle-fill[data-v-5152decb] {
  background: #0d0e13;
  background: var(--color-dark-grey);
}
.circle-icon[data-v-5152decb] {
  align-items: center;
  bottom: 0;
  color: #0d0e13;
  color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
@media (max-width: 600px) {
  .circle-icon[data-v-5152decb] {
    display: none;
  }
}
.is-dark .circle-icon[data-v-5152decb] {
  color: #fff;
  color: var(--color-white);
}
.icon-arrow[data-v-5152decb] {
  height: 0.6944444444vw;
  width: 0.7638888889vw;
}
.icon-pin[data-v-5152decb] {
  height: 0.7638888889vw;
  width: 0.625vw;
}
.icon-phone[data-v-5152decb] {
  height: 0.8333333333vw;
  width: 0.7638888889vw;
}
.icon-mail[data-v-5152decb] {
  height: 0.6944444444vw;
  width: 0.9027777778vw;
}
.icon-external[data-v-5152decb] {
  height: 0.5555555556vw;
  width: 0.5555555556vw;
}

/* SHARED COMPONENT: SCROLL SEQUENCE CANVAS */
/* (This component has no specific styles other than what's applied by its parent) */
.canvas[data-v-204ded7c] {
  /* Styles are applied by parent components like .hero, .origin, etc. */
}

/*
================================================================
NEW SECTION: STORY PAGE SCROLLYTELLING
================================================================
*/
.scroll.is-story {
  background: var(--color-story, #070707);
  color: var(--color-sand, #e0ccbb);
}

.pinned {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pinned .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pinned .background .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  /* Subtle Ken Burns effect */
  transform: scale(1.1);
  transition: transform 6s ease-out;
}

.pinned.active .background .bg {
  transform: scale(1);
}

.pinned .content-wrapper {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8vw;
}

.pinned .content-wrapper h2 {
  font-family: var(--font-f-lausanne-300);
  font-size: var(--font-s-h1);
  letter-spacing: var(--font-ls-h1);
  line-height: var(--font-lh-h1);
  margin-bottom: 1.5rem;
}

.pinned .content-wrapper p {
  font-family: var(--font-f-lausanne-300);
  font-size: var(--font-s-h4);
  line-height: var(--font-lh-h4);
  color: var(--color-sand-08);
  max-width: 40ch;
  margin-bottom: 2rem;
}

.pinned .content-wrapper .tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-sand-06);
  border-radius: 2rem;
  font-family: 'SF Mono', 'Monaco', monospace;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--color-sand-08);
  letter-spacing: 0.05em;
}

@media (max-width: 600px) {
  .pinned .content-wrapper {
    padding: 0 8vw;
  }
  .pinned .content-wrapper h2 {
    font-size: 14vw;
    line-height: 1.1;
  }
  .pinned .content-wrapper p {
    font-size: 4.8vw;
    line-height: 1.5;
    max-width: 100%;
  }
  .pinned .content-wrapper .tag {
    font-size: 0.65rem;
    padding: 0.4rem 0.8rem;
  }
}
